.card {
    border: 1px solid #606060;
    padding: 30px;
    width: 230px;
    border-radius: 40px;
    background-color: #ffffff;
    margin-right: 30px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    
    .plusik {
      cursor: pointer;
      

    }
  
    &:hover {
      box-shadow: 0px 20px 30px rgb(196, 196, 196);
      transform: translateY(-5px);
    }
  
    h5 {
      font-weight: 400;
      font-size: 18px;
    
    }
  
    .favorite {
      position: absolute;
      cursor: pointer;
    } 
  }