body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d7d7d7;
}

button, input {
  font-family: 'system-ui';
}

.wrapper {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  max-width: 1080px;
  margin: 50px auto;
  border-radius: 17px;
}

header {
  border-bottom: 1px solid #9e9e9e;
}

.headerLeft img {
  margin-right: 15px;
  margin-bottom: -100px;
}

.headerLeft h3,
.headerLeft p {
  margin: 0;
}

.text-uppercase {
  font-size: 30px;
  margin-bottom: 1px;
  
}

.text-indent {
  text-indent: 20px; 
}

.description {
  margin-right: 30px;
  font-size: 15px;
}

li {
  display: flex;
  align-items: center;
}

li img {
  margin-right: 10px;
}




.search-block {
  border: 1px solid #f4f4f4;
  border-radius: 20px;
  padding: 0 15px;

  input {
    border: 0;
    padding: 15px;
    font-size: 16px;
  }
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px #313131;
  padding: 30px;

  .items {
    flex: 1;
    overflow: auto;
    margin-bottom: 40px;
    
  }

  h2 {
    margin: 0;
    font-size: 24px;
  }

 
  

.cartTotalBlock {
  div {
    flex: 1;
    height: 1;
    border-bottom: 1px dashed #dfdfdf;
    position: relative;
    top: -4px;
    margin: o 7px;
  }
  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

  }
}


}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.greenButton {
  
    width: 100%;
    height: 55px;
    background: #9dd558;
    border-radius: 13px;
    border: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
  
    &:hover {
      background: lighten($color: #9dd558, $amount: 8%);
    }
  
    &:active {
      background: darken($color: #000000, $amount: 0);
    }
  
}
.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  p {
    font-size: 16px;
  }
  b {
    font-size: 13px;
  }
  .removeBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}




