body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d7d7d7;
}

button, input {
  font-family: 'system-ui';
}

.wrapper {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  max-width: 1080px;
  margin: 50px auto;
  border-radius: 17px;
}

header {
  border-bottom: 1px solid #9e9e9e;
}

.headerLeft img {
  margin-right: 15px;
  margin-bottom: -100px;
}

.headerLeft h3,
.headerLeft p {
  margin: 0;
}

.text-uppercase {
  font-size: 30px;
  margin-bottom: 1px;
  /* Ваши стили для текста в верхнем регистре */
}

.text-indent {
  text-indent: 20px; /* Измените значение, чтобы подогнать под ваш отступ */
}

.description {
  margin-right: 30px;
  font-size: 15px;
}

li {
  display: flex;
  align-items: center;
}

li img {
  margin-right: 10px;
}

.card {
  border: 1px solid #606060;
  padding: 30px;
  width: 230px;
  border-radius: 40px;
  background-color: #ffffff;
  margin-right: 30px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 20px 30px rgb(196, 196, 196);
    transform: translateY(-5px);
  }

  h5 {
    font-weight: 400;
    font-size: 18px;
  
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  } 
}

.button {
  background: #f4f4f4;
  border: 1px solid #9e9e9e;
  box-sizing: border-box;
  border-radius: 8px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin-left: auto;
}

.search-block {
  border: 1px solid #f4f4f4;
  border-radius: 20px;
  padding: 0 15px;

  input {
    border: 0;
    padding: 15px;
    font-size: 16px;
  }
}

.drawer {
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px #313131;
  padding: 30px;

  h2 {
    margin: 0;
    font-size: 24px;
  }
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  p {
    font-size: 16px;
  }
  b {
    font-size: 13px;
  }
  .removeBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}




